.Tracks {
  border: 2px solid rgb(247, 235, 235);
  border-radius: 10px;
}

button {
  background-color: #108b85;
  border: 1px solid white;
  padding: 15px 32px;
}

.rotate:hover {
  animation: rotation 0s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate:hover {
  animation-timing-function: linear;
}

.rotate:hover {
  animation-iteration-count: infinite;
}